/* Set the reset of all the elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1180px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #ffffff;
    color: #1E266D;
    font-size: 16px;
    line-height: 1.5;
}

a, .right_list {
    color: #1E266D;
    text-decoration: none;
}

ul {
    list-style: none;
}

.outer_container {
    border-radius: 0px;
}

.upper {
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #FFFFFF 100%) no-repeat;
}

.inner {
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%); no-repeat;
}

.item, .main_nav, .about, .logo_area, .upper_footer, #copyright {
    width: 80%;
    max-width: 1100;
    margin: auto;
}

.social-icon a {
    color: #1E266D;
    width: 32px;
    height: 32px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 4px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
.social-icon a:hover {
    color: #fff !important;
  }
  
  .social-icon .facebook:hover {
    background: #666666;
  }
  
  .social-icon .twitter:hover {
    background: #666666;
  }
  
  .social-icon .instagram:hover {
    background: #666666;
  }
  
  .social-icon .linkedin:hover {
    background: #666666;
  }
  
  .social-icon .google:hover {
    background: #666666;
  }


  .text-right .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 100px;
    background: #ffffff;
    color: #3751FF;
    font-size: 12px;
    transition: 0.3s;
}

.text-right p {
    color: #DFE0EB;
}

.text-right a {
    color: #FED994;
}

#std {
    text-decoration: none;
}


/* Nav */

#menu_menu a {
    color: #1e266d;
    text-decoration: none;
}

.main_nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main_nav, .right_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 13px;
}

.main_nav .logo {
    width: 70px;
}

.main_nav ul {
    display: flex;
}

.main_nav ul li {
    padding: 0 20px;
}

.main_nav ul li a:hover {
    border-bottom: 2px solid #3751FF;
}

.main_nav ul.main_menu {
    flex: 1;
    margin-left: 20px;
}

.btn {
    border-radius: 32px;
}

.header_button .btn, .right_list .btn, .portfolio_button .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 100px;
    background: #3751FF;
    color: #ffffff;
    font-size: 12px;
    transition: 0.3s;
}

.fa-caret-down {
    padding-left: 10px;
}

.drop_down {
    opacity: 0.8;
}

.btn:hover {
    background-color: #ffffff;
    color: #3751FF;
}

.header_button .btn-border {
    border: 2px solid black;
    background: #ffffff;
    border-color: #3751FF;
    color: #3751FF;
}

.btn-border:hover {
    background-color: #3751FF;
    color: #ffffff;
}
/* Nav Ends */

/* Hero */


.hero_area, .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 100px;
}

.hero_area h1 {
    font-size: 56px;
}

.hero_area h1, .portfolio h2, .about h2 {
    line-height: 1;
    color: #1E266D;
    padding-top: 100px;
    margin-bottom: 20px;
}



.hero_area p, .portfolio p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #3751FF;
}

/* Hero ends */

/* Company logo */
.logo_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.logo_text {
    width: 90%;
    text-align: center;
    font-size: 13px;
    color: rgba(69, 88, 128, 0.5);
    padding-bottom: 40px;
}

.logos {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.logo1 {
    width: 110px;
    height: 34px;
}

.logo2 {
    width: 95px;
    height: 33px;
}

.logo3 {
    width: 80px;
    height: 34px;
}

.logo4 {
    width: 174px;
    height: 33px;
}

.logo5 {
    width: 115px;
    height: 33px;
}

.logo6 {
    width: 102px;
    height: 34px;
}



/* About */
.about_card {
    margin: 0;
    padding: 0 20px;
}

.about {
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_title {
    text-align: center;
    color: #1E266D;
    margin: 30px 0 0 0;
    padding: 50px 0 0 0;
    font-size: 48px;
}

/* Portfolio */
.portfolio {
    background: #FFF9EA;
}

.portfolio h2 {
    padding-bottom: 30px;
    font-size: 48px;
}

.portfolio p {
    padding-bottom: 20px;
    font-size: 21px;
}

/* Testimony */
.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.description {
    margin-bottom: 50px;
}

.img_thumb, .info > h4, .info > h5, .about > h2{
    display: flex;
    justify-content: center;
}

.img_thumb {
    padding-top: 50px;
}

.info {
    padding-top: 20px;
}

/* Contact */
#cta {
    background-color: #3751FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

#cta h2 {
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 50px 0;
}

.btn_cta {
    background-color: #ffffff;
    padding: 12px 16px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 100px;
}

/* Footer */

.upper_footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 100px;
    padding-bottom: 100px;
}

.upper_foot li {
    text-decoration: none;
}

.widget div {
    padding-right: 30px;
}

.pages, .demo, .icon, .pages a, .demo a, .textwidget p, .now a, .doc a, .icons h3 {
    color: #1E266D;
}

.textwidget p {
    padding-top: 30px;
}

.footer-link li {
    padding-top: 30px;
    line-height: 1.0;
}

.copyright-content {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-content p {
    display: flex;
    align-items: center;
    color: rgba(69, 88, 128, 0.5);
}

.copyright-content a {
    color: rgba(69, 88, 128, 0.5);
    padding-left: 30px;
}
.copyright-content ul {
    display: flex;
    flex-wrap: wrap;
}

.copyright-content li {
    margin-right: 30px;
    margin-bottom: 20px;
}

.copyright_items {
    color: #1E266D;
}
/* */

@media(max-width: 700px) {
    .upper_footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero_area, .portfolio {
        width: 85%;
    }
}

@media(max-width: 500px) {
    .upper_footer {
        grid-template-columns: 1fr;
    }

    .item {
        grid-template-columns: 1fr;
    }

    .testimonial_item {
        width: 80%;
        margin-bottom: 20px;
    }
}